{% extends "base.html" %}
{% block content %}

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
    .w3-bar,h1,button {font-family: "Montserrat", sans-serif}
    .fa-anchor,.fa-coffee {font-size:200px}
</style>


<div class="w3-row-padding w3-padding-64 w3-container">
    <div class="w3-content">
      <div class="w3-twothird">
        <h1>About</h1>
        <h5 class="w3-padding-32">This is a project is a solution for the Full-stack Software Engineer test by PackForm</h5>
        <p class="w3-text-grey">The objective of this project is to develop a web application which allows the company representative to store and view orders data</p>
        <p class="w3-text-grey">On the first version we have two api end points</p>
        <ul>
            <li><a href="/orders" class="w3-text-grey">Orders: Can be used for viewing order book</a></li>
            <li><a href="/upload" class="w3-text-grey">Upload: Can be used for uploading order data</a></li>
        </ul>
        <a href="/files/Full-stack_Software_Engineer_test.pdf">Problem statement</a>
        <br>
        <a href="https://github.com/phanikalyanpalatla/phaniwebapptest">Source code</a>
    </div>
  
    </div>
  </div>

  <div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
    <div class="w3-content">  
      <div class="w3-twothird">
        <h1>Tech</h1>
        <h5 class="w3-padding-32" class="w3-text-grey">The core tech used in this project is Flask Framework, MongoDB and PostgreSQL</h5>
        <p class="w3-text-grey" class="w3-text-grey">Flask Framework is a python based restful api framework which is used to create api end points and python is used for backend</p>
        <p class="w3-text-grey" class="w3-text-grey"> Atlas MongoDB is a cloud based nosql database which is used to store Customers data</p>
        <p class="w3-text-grey" class="w3-text-grey"> Heroky PostgreSQL is a cloud based sql RDBMS database which is used to store Orders and Delivery </p>
    </div>
    </div>
    
    <div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
        <div class="w3-content">  
          <div class="w3-twothird">
            <h2><a href="/upload">Data Upload</a></h2>
            <p class="w3-text-grey">The orders data which would be uploaded using the uploaded endpoint allows user to upload any of the 5 possible input files in csv format</p>
        
            <ol>
                <li><p class="w3-text-grey">Orders: Csv file with columns id,created_at,order_name, and customer_id. On sucessfull upload this data would be stored in PostgreSQL server</p> </li>
                <li><p class="w3-text-grey">OrderItems: id,order_id,price_per_unit,quantity,product. On sucessfull upload this data would be stored in PostgreSQL server</p></li>
                <li><p class="w3-text-grey">Deliveries: Csv file with columns id,order_item_id,delivered_quantity. On sucessfull upload this data would be stored in PostgreSQL server</p></li>
                <li><p class="w3-text-grey">Customers: Csv file with columns user_id,login,password,name,company_id,credit_cards. On sucessfull upload this data would be stored in MongoDB server</p></li>
                <li><p class="w3-text-grey">Customer Companies: Csv file with company_id,company_name. On sucessfull upload this data would be stored in MongoDB server</p></li>

            </ol>
            <h2><a href="/orders">Orders</a></h2>
            <p class="w3-text-grey">The orders data which is stored in the databses can be viewed using Orders end point</p> 

    </div>
  </div>
  

{% endblock %}

