
{% extends "base.html" %}
{% block content %}
<html>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!doctype html>
<title>Upload CSV file</title>
<br>
<style>
    input {text-align: center;}
    form{text-align: center;}
</style>

<style> 
    input[type=button], input[type=submit] {
      background-color: #4CAF50;
      border: none;
      color: white;
      padding: 14px 40px;
      text-align: center;
      margin: 4px 2px;
      cursor: pointer;
    }
    </style>

<form action="/upload" method=post enctype=multipart/form-data>
<label>Input For</label>
<br>
{{ form.input_for(class='input_for') }}
<br>
<br>
<br>
<p><input type=file name=file>
    <br>
    <br>
    <input type=submit value=Submit>
</form>


</html>

{% endblock %}
